name: copy-dailysub

on:
  # 定时触发（例如每天23点）
  schedule:
    - cron: '30 15 * * *'
  
  # 手动触发
  workflow_dispatch:

jobs:
  copy-file:
    runs-on: ubuntu-latest
    
    steps:
    # 检出私有仓库
    - name: Checkout private repository
      uses: actions/checkout@v3
      with:
        repository: ${{ github.repository_owner }}/lav1
        token: ${{ secrets.LAV1_TOKEN }}
        path: lav1
    
    # 检出公开仓库  
    - name: Checkout public repository
      uses: actions/checkout@v3
      with:
        repository: ${{ github.repository_owner }}/lav1p
        token: ${{ secrets.LAV1P_TOKEN }}
        path: lav1p
    
    # 复制文件
    - name: Copy file
      run: |
        cp lav1/daily.sub lav1p/daily.sub
        cp lav1/dailysb.json lav1p/dailysb.json
    
    # 提交到公开仓库
    - name: Commit and push
      run: |
        cd lav1p
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add daily.sub
        git commit -m "Update daily.sub"
        git push
